.cart-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.cart h1 {
  text-align: center;
  text-transform: uppercase;
  color: rebeccapurple;
}

.Link{
  border-bottom: 4px solid rgb(103, 101, 243);
  color: #000;
  margin-top: 20px;
}

.Link:hover{
  color: rgb(4, 32, 246);
}

.cart-items {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  background-color:#b1f9e7;
}

.cart-box {
  width: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item {
  width: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: aliceblue;
  border: 1px solid #ddd;
  padding: 1rem;
  height: 150px;
}

.cart-item-details {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-details img {
  width: 100px;
  height: 80px;
}

.image,
.price,
.title {
  padding: 0 10px;
}

.title h4 {
  font-size: 18px;
  font-weight: bold;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgb(241, 228, 226);
}

.quantity-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(111, 194, 134);
}

.remove {
  padding: 6px 10px;
  background-color: rgb(176, 207, 235);
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.remove:hover {
  background-color: rgb(232, 21, 74);
  color: white;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 50px;
  width: 200px;
  height: 300px;
  padding: 10px;
  background-color: rgb(250, 250, 248);
}

.proceed {
  padding: 10px 20px;
  border: 1px solid #ddd;
  font-size: 24px;
  background-color: rgb(176, 207, 235);
  cursor: pointer;
  border-radius: 5px;
}

.proceed:hover {
  background-color: rgb(10, 10, 226);
  color: white;
}
@media screen and (max-width: 1200px) {
  .cart-container {
    max-width: 1200px;
  }

  .cart-items {
    max-width: 1000px;
  }

  .cart-box {
    width: 800px;
  }

  .cart-item {
    width: 800px;
  }

  .cart-item-details {
    width: 75%;
  }

  .cart-item-details img {
    width: 80px;
    height: 80px;
  }

  .title h4 {
    font-size: 14px;
  }

  .total {
    width: 200px;
    height: 280px;
    left: 900px;
  }

  .total h2 {
    font-size: 20px;
  }

  .proceed {
    font-size: 20px;
  }
}


@media screen and (max-width: 1000px) {
  .cart-container {
    max-width: 1000px;
  }

  .cart-items {
    max-width: 900px;
  }

  .cart-box {
    width: 700px;
  }

  .cart-item {
    width: 700px;
  }

  .cart-item-details {
    width: 75%;
  }

  .cart-item-details img {
    width: 80px;
    height: 80px;
  }

  .title h4 {
    font-size: 14px;
  }

  .total {
    width: 200px;
    height: 280px;
    left: 800px;
  }

  .total h2 {
    font-size: 20px;
  }

  .proceed {
    font-size: 20px;
  }
}


@media screen and (max-width: 900px) {
  .cart-container {
    max-width: 900px;
  }

  .cart{
    margin-top: 10px;
  }
  .Link{
    font-size: 10px;
  }

  .cart h1{
    font-size: 20px;
  }
  
  .cart-items {
    max-width: 800px;
  }

  .cart-box {
    width: 600px;
  }

  .cart-item {
    width: 600px;
  }

  .cart-item-details {
    width: 75%;
  }

  .cart-item-details img {
    width: 80px;
    height: 80px;
  }

  .title h4 {
    font-size: 14px;
  }

  .total {
    width: 200px;
    height: 280px;
    left: 700px;
  }

  .total h2 {
    font-size: 20px;
  }

  .proceed {
    font-size: 20px;
  }
}


@media screen and (max-width: 800px) {
  .cart-container {
    max-width: 800px;
  }

  .cart{
    margin-top: 10px;
  }
  .Link{
    font-size: 10px;
    margin-top: 5px;
  }

  .cart h1{
    font-size: 20px;
  }

  .cart-items {
    max-width: 700px;
    margin-top: 10px;
  }

  .cart-box {
    width: 520px;
  }

  .cart-item {
    width: 520px;
  }

  .cart-item-details {
    width: 75%;
  }

  .cart-item-details img {
    width: 70px;
    height: 70px;
  }

  .title h4 {
    font-size: 14px;
  }

  .quantity-controls button {
    font-size: 12px;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(111, 194, 134);
  }

  .total {
    width: 180px;
    height: 280px;
    left: 600px;
  }

  .total h2 {
    font-size: 18px;
  }

  .proceed {
    font-size: 18px;
    padding: 5px 10px;
  }
}



@media screen and (max-width: 700px) {
  .cart-container {
    max-width: 700px;
  }

  .cart{
    margin-top: 10px;
  }
  .Link{
    font-size: 10px;
    margin-top: 5px;
  }

  .cart h1{
    font-size: 18px;
  }

  .cart-items {
    max-width: 600px;
    margin-top: 10px;
  }

  .cart-box {
    width: 420px;
  }

  .cart-item {
    width: 420px;
  }

  .cart-item-details {
    flex-direction: column;
    width: 75%;
  }

  .cart-item-details img {
    width: 60px;
    height: 60px;
  }

  .title h4 {
    font-size: 14px;
  }

  .quantity-controls button {
    font-size: 12px;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(111, 194, 134);
  }

  .total {
    width: 180px;
    height: 250px;
    left: 500px;
  }

  .total h2 {
    font-size: 18px;
  }

  .proceed {
    font-size: 18px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 600px) {
  .cart-container {
    max-width: 600px;
  }

  .cart{
    margin-top: 10px;
  }
  .Link{
    font-size: 10px;
  }

  .cart h1{
    font-size: 16px;
  }

  .cart-items {
    max-width: 500px;
    margin-top: 10px;
  }

  .cart-box {
    width: 400px;
  }

  .cart-item {
    width: 380px;
    height: 120px;
    padding: 0.5rem;
  }

  .cart-item-details {
    flex-direction: column;
    width: 75%;
  }

  .image,
  .price {
    padding: 0;
  } 

  .title {
    padding:5px;
  }

  .price p {
    font-size: 12px;
  }

  span {
    font-size: 12px;
  }

  .remove {
    font-size: 8px;
    padding: 3px 5px;
    border-radius: 1px;
  }

  .quantity-controls {
    font-size: 10px;
    padding: 4px 7px;
    background: none;
  }


  .cart-item-details img {
    width: 50px;
    height: 50px;
  }

  .title h4 {
    font-size: 12px;
  }

  .quantity-controls button {
    font-size: 12px;
    padding: 4px 7px;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(111, 194, 134);
  }

  
  .total {
    width: 125px;
    height: 230px;
    left: 400px;
  }

  .total h2 {
    font-size: 15px;
  }

  .proceed {
    font-size: 12px;
    padding: 5px 10px;
  }

}

@media screen and (max-width: 500px) {
  .cart-container {
    max-width: 500px;
  }

  .cart{
    margin-top: 10px;
  }
  .Link{
    font-size: 10px;
    margin-top: 5px;
  }

  .cart h1{
    font-size: 15px;
  }

  .cart-items {
    max-width: 450px;
    margin-top: 10px;
  }

  .cart-box {
    width: 330px;
  }

  .cart-item {
    width: 330px;
    height: 100px;
    padding: 0.5rem;
  }

  .cart-item-details {
    flex-direction: column;
    width: 75%;
  }

  .image,
  .price {
    padding: 0;
  } 

  .title {
    padding:5px;
  }

  .price p {
    font-size: 10px;
  }

  span {
    font-size: 10px;
  }

  .remove {
    font-size: 8px;
    padding: 3px 5px;
    border-radius: 1px;
  }

  .quantity-controls {
    font-size: 10px;
    padding: 4px 7px;
    background: none;
  }

  .quantity-controls button {
    font-size: 10px;
    padding: 3px 5px;
    border: none;
    border-radius: 0;
  }

  .cart-item-details img {
    width: 40px;
    height: 40px;
  }

  .title h4 {
    font-size: 10px;
  }

  .total {
    width: 120px;
    height: 200px;
  }

  .total h2 {
    font-size: 10px;
  }

  .proceed {
    font-size: 10px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 450px) {
  .cart-container {
    max-width: 450px;
  }

  .cart{
    margin-top: 10px;
  }
  .Link{
    font-size: 10px;
    margin-top: 5px;
  }

  .cart h1{
    font-size: 15px;
  }

  .cart-items {
    max-width: 400px;
    margin-top: 10px;
  }

  .cart-box {
    width: 270px;
  }

  .cart-item {
    width: 270px;
    height: 110px;
    padding: 0.2rem;
    flex-direction: row;
  }

  .cart-item-details {
    width: 75%;
    align-items: center;
  }

  .image,
  .price {
    padding: 0;
  } 

  .title {
    padding:5px;
  }

  .price p {
    font-size: 10px;
  }

  span {
    font-size: 10px;
  }

  .remove {
    font-size: 8px;
    padding: 3px 5px;
    border-radius: 1px;
  }

  .quantity-controls {
    font-size: 10px;
    padding: 4px 7px;
    background: none;
  }

  .quantity-controls button {
    font-size: 10px;
    padding: 3px 5px;
    border: none;
    border-radius: 0;
  }

  .cart-item-details img {
    width: 40px;
    height: 40px;
  }

  .title h4 {
    font-size: 10px;
  }

  .total {
    width: 150px;
    height: 180px;
    border: none;
  }

  .total h2 {
    font-size: 10px;
  }

  .proceed {
    font-size: 10px;
    padding: 5px 10px;
  }
}


@media screen and (max-width: 400px) {
  .cart-container {
    max-width: 400px;
  }

  .cart{
    margin-top: 8px;
  }
  .Link{
    font-size: 10px;
    margin-top: 5px;
  }

  .cart h1{
    font-size: 15px;
  }

  .cart-items {
    max-width: 350px;
  }

  .cart-box {
    width: 250px;
  }

  .cart-item {
    width: 250px;
    height: 100px;
    flex-direction: row;
    padding: 0.5rem;
  }

  .cart-item-details {
    flex-direction: column;
    width: 75%;
  }

  .cart-item-details img {
    width: 40px;
    height: 40px;
  }

  .image,
  .price {
    padding: 0;
  }

  .title {
    padding: 0 10px;
  }

  .title h4 {
    font-size: 8px;
  }

  .price p {
    font-size: 10px;
  }

  .quantity-controls{
    background-color: transparent;
  }

  .quantity-controls button {
    font-size: 10px;
    padding: 3px 5px;
    border: none;
    border-radius: 0;
  }

  span {
    font-size: 10px;
  }

  .remove {
    font-size: 8px;
    padding: 3px 5px;
    border-radius: 1px;
  }

  .total {
    width: 150px;
    height: 160px;
    border: none;
  }

  .total h2 {
    font-size: 10px;
  }

  .proceed {
    font-size: 10px;
    padding: 5px 10px;
  }

}

@media screen and (max-width: 350px) {
  .cart-container {
    max-width: 350px;
  }

  .cart{
    margin-top: 10px;
  }
  .Link{
    font-size: 10px;
    margin-top: 5px;
  }

  .cart h1{
    font-size: 13px;
  }

  .cart-items {
    max-width: 300px;
  }

  .cart-box {
    width: 220px;
  }

  .cart-item {
    width: 230px;
    height: 100px;
    gap: 2px;
    flex-direction: row;
    padding: 0.5rem;
  }

  .cart-item-details {
    width: 75%;
  }

  .cart-item-details img {
    width: 40px;
    height: 40px;
  }

  .image,
  .price {
    padding: 0;
  }

  .title {
    padding: 0 10px;
  }

  .title h4 {
    font-size: 8px;
  }

  .price p {
    font-size: 10px;
  }

  span {
    font-size: 10px;
  }

  .remove {
    font-size: 8px;
    padding: 3px 5px;
    border-radius: 1px;
  }

  .quantity-controls {
    font-size: 10px;
    padding: 4px 7px;
    background: none;
  }

  .quantity-controls button {
    font-size: 10px;
    padding: 3px 5px;
    border: none;
    border-radius: 0;
  }

  .total {
    width: 70px;
    height: 130px;
    border: none;
  }

  .total h2 {
    font-size: 10px;
  }

  .proceed {
    font-size: 10px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 300px) {
  .cart-container {
    max-width: 300px;
  } 

  .cart{
    margin-top: 10px;
  }
  .Link{
    font-size: 10px;
    margin-top: 5px;
  }

  .cart h1{
    font-size: 12px;
  }

  .cart-items {
    max-width: 300px;
  }

  .cart-box {   
    width: 300px; 
  }

  .cart-item {
    width: 230px;
    height: 100px;
    gap: 1px;
    flex-direction: row;
    padding: 0.5rem;
  }

  .cart-item-details {
    width: 95%;
  }

  .cart-item-details img {
    width: 40px;
    height: 40px;
  }

  .image,
  .price {
    padding: 0;
  } 

  .title {
    padding: 0 10px;
  }

  .title h4 {
    font-size: 8px;
  }

  .price p {
    font-size: 10px;
  }

  span {
    font-size: 10px;
  }

  .remove {
    font-size: 8px;
    padding: 3px 5px;
    border-radius: 1px;
  }

  .quantity-controls {
    font-size: 10px;
    padding: 4px 7px;
    background: none;
  }

  .quantity-controls button {
    font-size: 10px;
    padding: 3px 5px;
    border: none;
    border-radius: 0;
  }

  .total {
    width: 150px;
    height: 130px;
    border: none;
    padding: 3px;
  }

  .total h2 {
    font-size: 10px;
  }

  .proceed {
    font-size: 10px;
    padding: 5px 10px;
  }
}