body {
  font-family:sans-serif;
  background: rgb(238, 245, 238);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  list-style: none;
  outline: none;
}


.navbar{
  background-color: #b1f9e7; 
  padding: 10px 0;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.nav-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
}
.logo a{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.nav-links{
  display: flex;
  gap: 30px;
}

.btn{
  padding: 6px 10px;
  background-color:rgb(176, 207, 235);
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover{
  background-color: #fff;
  color: black;
}






@media screen and (max-width: 1200px) {
  .nav-container{
    max-width: 1000px;
  }
  .logo img {
    width: 40px;
  }
  .logo a{
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .nav-container{
    max-width: 800px;
  }
  .logo img {
    width: 30px;
  }
  .logo a{
    font-size: 16px;
  }
  .nav-links{
    gap: 15px;
    font-size: 15px;
  }
  .btn{
    padding: 5px 9px;
    font-size: 12px;
    border-radius: 3px;
  }
}

@media  screen and (max-width: 800px) {
  .nav-container{
    max-width: 600px;
  }
  .logo img {
    width: 20px;
  }
  .logo a{
    font-size: 12px;
  }
  .nav-links{
    gap: 10px;
    font-size: 12px;
  }
  .btn{
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 2px;
  }
}

@media screen and (max-width: 600px) {
  .navbar{
    padding: 5px 0;
  }
  .nav-container{
    max-width: 550px;
  }
  .logo img {
    width: 16px;
  }
  .logo a{
    font-size: 12px;
  }
  .nav-links{
    gap: 5px;
    font-size: 10px;
  }
  .btn{
    padding: 2px 3px;
    font-size: 8px;
    border-radius: 1px;
  } 
}

@media screen and (max-width: 470px) {
  .container{
    max-width: 400px;
  }
  .nav-container input{
    width: 0;
    visibility: hidden;
  }

  .logo img {
    width: 12px;
  }
  .logo a{
    font-size: 8px;
  }
  .nav-links{
    gap: 3px;
    font-size: 8px;
  }
  .btn{
    padding: 2px 3px;
    font-size: 7px;
    border-radius: 2px;
  }
  
}

@media screen and (max-width: 370px) {
  .container{
    max-width: 300px;
    padding: 0 10px;
  }  
  .nav-container input{
    visibility: hidden;
    width: 0;
  }
}